@model List<string>

<!--------------------- EMBEDDED STYLE ----------------------->
<style>


    /* <!--------------------- IMAGES -----------------------> */
    .body-background {
        background-image: linear-gradient(90deg, rgb(255, 236, 239), rgb(119, 190, 226), rgb(255, 236, 239));
        font-size: 16px;
    }

    .banner-image {
        background-size: cover;
        display: table;
        height: 60vh;
        width: 100%;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        margin-bottom: -2px;
    }

    /* <!--------------------- BUTTONS -----------------------> */

    a {
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        color: whitesmoke;
    }

    .btn.btn-search {
		font-size: 16px;
		color: white;
		cursor: pointer;
		border: 1px solid white;
		color: white;
		background: transparent;

		border-radius: 5px;
		-moz-transition: all .4s ease-in-out;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
	}

	.btn.btn-search:hover {
		color: #09071d;
		font-weight: bold;
		border: none;
		background-image: linear-gradient(-45deg, rgb(255, 236, 239), rgb(119, 190, 226));
		box-shadow: 0 4px 15px 0 rgba(119, 190, 226, 0.75);
	}

    /* <!--------------------- TEXT -----------------------> */
    .title {
        font-size: 4em;
        font-style: oblique;
    }

    .main-anime-text {
        text-align: left;
        font-size: x-large;
        filter: drop-shadow(0px 0px 16px rgb(41, 41, 41));
    }

    .search-field {
        box-shadow: 0 4px 15px 0 rgba(119, 190, 226, 0.30);
    }

	.search-field:hover {
		box-shadow: 0 4px 15px 0 rgba(119, 190, 226, 0.75)
	}

    /* <!--------------------- TEXT FADE -----------------------> */
    .fade-in {
        animation: fadeIn ease 1.2s;
        -webkit-animation: fadeIn ease 1.2s;
        -moz-animation: fadeIn ease 1.2s;
        -o-animation: fadeIn ease 1.2s;
        -ms-animation: fadeIn ease 1.2s;
    }

    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-o-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-ms-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* <!--------------------- CONTAINERS -----------------------> */
    .content-block {
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 100px;
        padding-right: 100px;
        color: rgb(255, 255, 255);
    }

    .content-block-inner {
        margin-left: 10%;
        margin-right: 10%;
        width: auto;
    }

    .search-section {
        color: white;
        background-color: #312f45;
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .body-search {
        color: white;
        background-color: #312f45;
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .table-search {
        width: 100%;
        table-layout: auto;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .list-row {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 5px;
        height: auto;
        width: 100%;
    }

    .search-row {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
        height: 60px;
        width: 100%;
    }

</style>

<div class="body-background">


    <div class="content-block">
        <div class="content-block-inner text-center">


            <header class="fade-in">
                <h1 class="title">Complete Anime List</h1>
            </header>


                <table class="table-search">
                    <tr>
                        <th><h1>Anime Title</h1></th>
                    </tr>

                    @foreach (var animeTitle in Model)
                    {
                        <tr>
                            <td class="list-row">
                                @Html.ActionLink(
                                    linkText: @animeTitle,
                                    actionName: "DisplayAnimeTitleExists",
                                    controllerName: "AnimeInfo",
                                    routeValues: new
                                    {
                                        searchTitle = @animeTitle
                                    },
                                    htmlAttributes: null
                                )
                            </td>
                        </tr>
                    }
                </table>

        </div>
    </div>

    <div class="body-search">
        <div class="container text-center">
            <header>
                <h1>Search For Another Anime</h1>
            </header>

            <section>
                @using (Html.BeginForm("DisplayAnimeTitleExists", "AnimeInfo", FormMethod.Post))
                {
                    <table class="list-row">
                        <tr class="search-row">
                            <td>
                                <label for="searchTitle" class="search-title">
                                    <h3><strong>Enter Anime Title:</strong></h3>
                                    (Use correct punctuation and capitalization)
                                </label>
                            </td>
                        </tr>
                        <tr class="search-row">
                            <td><input type="text" id="searchTitle" class="search-field" placeholder="Anime Title" name="searchTitle" /></td>
                        </tr>
                        <tr class="search-row">
                            <td><input type="submit" class="btn btn-search" value="Search Anime" /></td>
                        </tr>
                    </table>
                }
            </section>
        </div>
    </div>
</div>